<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RUN_MYSQLDUMP" value="TRUE" />
    <add key="RUN_PGDUMP" value="FALSE" />

    <add key="USE_SSH_TUNNEL_FOR_MYSQL" value="TRUE" />
    <add key="USE_SSH_TUNNEL_FOR_PG" value="FALSE" />
    
    <add key="MYSQL_DUMP_PATH" value="C:\mysql\bin\mysqldump.exe" />
    <add key="PG_DUMP_PATH" value="C:\Program Files\PostgreSQL\11\bin\pg_dump.exe" />
    <add key="BACKUP_PATH" value="C:\backup_path" />
    
    <add key="SSH_IP" value="" />
    <add key="SSH_PORT" value="22" />
    <add key="SSH_USER" value="root" />
    <add key="SSH_PASS" value="" />
    
    <add key="MYSQL_LOCAL_PORT" value="3306" />
    <add key="MYSQL_HOST" value="" />
    <add key="MYSQL_PORT" value="3306" />
    <add key="MYSQL_DBNAME" value="" />
    <add key="MYSQL_USER" value="" />
    <add key="MYSQL_PASSWORD" value="" />
    
    <add key="PG_LOCAL_PORT" value="5432" />
    <add key="PG_HOST" value="" />
    <add key="PG_PORT" value="5432" />
    <add key="PG_DBNAME" value="" />
    <add key="PG_USER" value="postgres" />
    <add key="PG_PASSWORD" value="" />
  </appSettings>  
</configuration>